.custom-purple-button {
    background-color: #580f8b !important;
    border: 1px solid #580f8b !important;
    color: #fff !important;
}

.custom-purple-button:hover {
    background-color: #4a0d72 !important;
    border-color: #4a0d72 !important;
}